@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;  
}

*{
  box-sizing: border-box;
}

.custom-img{
  background-image: url('https://images.pexels.com/photos/253905/pexels-photo-253905.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
